@font-face {
  font-family: "Druk Wide";
  src: url('../fonts/Druk-Wide-Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: "Druk Wide";
  src: url('../fonts/Druk-Wide-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-Light.ttf');
  font-weight: 100;
}


body {
  font-family: "Druk Wide", sans-serif;
  font-weight: bold;
}